<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="logo-brand mt-4">
                    <h3>HÃNG ĐIỆN THOẠI</h3>
                    <div class="sub-logo mt-3">
                        <a href="#" class="logo-items">
                            <img src="../img/apple.svg" width="50" alt="#">
                        </a>
                        <a href="#" class="logo-items">
                            <img src="../img/samsung.svg" width="50" alt="#">
                        </a>
                        <a href="#" class="logo-items">
                            <img src="../img/xiaomi.svg" width="50" alt="#">
                        </a>
                        <a href="#" class="logo-items">
                            <img src="../img/oppo.svg" width="50" alt="#">
                        </a>
                    </div>
                </div> 

            </div>

            <div class="col-md-12">
                <div class="filter mt-4">
                    <h3>CHỌN THEO TIÊU CHÍ</h3>

                    <div class="cps-select item-filter">
                        <a href="#">
                            Giá <i class='bx bx-chevron-down' ></i>
                        </a>
                       <div class="box-content">
                           <a href="#">Dưới 5 triệu</a>
                           <a href="#">Dưới 5 triệu</a>
                           <a href="#">Dưới 5 triệu</a>
                           <a href="#">Dưới 5 triệu</a>
                       </div> 
                    </div>
                </div>
            </div>
            
        </div>
    </div>



</body>
</html>