<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/layout.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/login.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <!-- <link rel="stylesheet" href="../assets/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="../assets/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <title>Trang Đăng Nhập</title>
</head>
<body>
        <!-- Start Menu Header -->
        <section class="header">
            <header class="menu-header">
                <div class="menu-header-top">
                    <nav class="menu-nav-top">
                        <div class="menu-container-nav">
                            <div class="menu-container">
                                <div class="logo-shop">
                                    <a href="../layout/home.html" title="C&T Phone">
                                        <img src="../img/logo.png" alt="">
                                    </a>
                                </div>
                                <form class="form-search">
                                    <div class="box-search">
                                        <input type="text" placeholder="Bạn cần tìm gì ?">
                                        <a href=""><i class="fas fa-search"></i></a>
                                    </div>
                                </form>
                                <div class="box-about">
                                    <a class="phone" href="tel:039632738">
                                        <div class="icon-phone">
                                            <i class="fas fa-phone-alt"></i>
                                        </div>
                                        <div class="content-phone">
                                            <p>Gọi mua hàng</p>
                                            <strong>1800.1008</strong>
                                        </div>
                                    </a>
                                    <a class="shipping" href="../layout/order-search.html">
                                        <div class="icon-shipping">
                                            <i class='fas fa-shipping-fast'></i>
                                        </div>
                                        <div class="content-shipping">
                                            <p>Tra cứu<br>
                                            đơn hàng</p>
                                        </div>
                                    </a>
                                    <a class="cart" href="../layout/cart.html">
                                        <div class="icon-cart">
                                            <i class="fas fa-shopping-cart"></i>
                                        </div>
                                        <div class="content-cart">
                                            <p>Giỏ<br>
                                            hàng</p>
                                        </div>
                                    </a>
                                    <a class="user" href="../layout/login.html">
                                        <div class="icon-user">
                                            <i class="fas fa-user-circle"></i>
                                        </div>
                                        <div class="content-user">
                                            <p>Đăng nhập/<br>
                                            Đăng ký</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="menu-header-main">
                    <nav class="menu-nav-main">
                        <div class="menu-main-container">
                            <a href="">
                                <div class="menu-phone">
                                    <div class="nav-phone">
                                        <i class="fas fa-mobile-alt"></i>
                                        Điện thoại
                                        <i class="fas fa-caret-down"></i>
                                    </div>
                                    <div class="content-nav-phone">
                                        <a href="">
                                            <div class="apple">
                                                <div class="item-apple">
                                                    Apple <i class="fab fa-apple"></i> <i class="fas fa-angle-right"></i>
                                                </div>
                                                <!-- <div class="content-apple">
                                                    <a href="">13 Series</a>
                                                    <a href="">13 Series</a>
                                                    <a href="">13 Series</a>
                                                </div> -->
                                            </div>
                                        </a>
                                        <a href="">SamSung</a>
                                        <a href="">Xiaomi <span class="iconify" data-icon="simple-icons:xiaomi"></span></a>
                                        <a href="">Oppo</a>
                                        <a href="">Hãng khác...</a>
                                    </div>
                                </div>
                            </a>
                            <a href="">
                                <div class="menu-accessory">
                                    <div class="nav-accessory">
                                        <i class="fas fa-headphones"></i>
                                        Phụ kiện
                                        <i class="fas fa-caret-down"></i>
                                    </div>
                                    <div class="content-nav-accessory">
                                        <a href="">Sạc dự phòng</a>
                                        <a href="">Sạc - cáp</a>
                                        <a href="">Cường lực điện thoại</a>
                                        <a href="">Ốp lưng điện thoại</a>
                                        <a href="">Giá đỡ điện thoại</a>
                                        <a href="">Tai nghe</a>
                                        <a href="">Loa</a>
                                        <a href="">Thẻ nhớ, USB</a>
                                        <a href="">Khác...</a>
                                    </div>
                                </div>
                            </a>
                            <a href="">
                                <div class="menu-secondhand">
                                    <div class="nav-secondhand">
                                        <i class="fas fa-mobile-alt"></i>
                                        Hàng cũ
                                        <i class="fas fa-caret-down"></i>
                                    </div>
                                    <div class="content-nav-secondhand">
                                        <a href="">Điện thoại cũ</a>
                                        <a href="">Phụ kiện cũ</a>
                                        <a href="">Loa - Tai nghe cũ</a>
                                        <a href="">Khác...</a>
                                    </div>
                                </div>
                            </a>
                            <a href="">
                                <div class="menu-sale">
                                    <div class="nav-sale">
                                        <i class="fas fa-percentage"></i>
                                        Khuyến mãi
                                        <i class="fas fa-caret-down"></i>
                                    </div>
                                    <div class="content-nav-sale">
                                        <a href="">0% - 30%</a>
                                        <a href="">30% - 50%</a>
                                        <a href="">Trên 50%</a>
                                        <a href="">Tất cả khuyến mãi</a>
                                    </div>
                                </div>
                            </a>
                            <a href="">
                                <div class="menu-installment">
                                    <div class="nav-installment">
                                        <i class="fas fa-money-bill-alt	"></i>
                                        Trả góp
                                    </div>
                                </div>
                            </a>
                        </div>
                    </nav>
                </div>
            </header>
        </section>
        <!-- End Menu Header -->
        <div class="container login-main">
            <div class="col-md-12">
                <!-- Pills navs -->
                <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
                <li class="nav-item" role="presentation">
                <a style="font-size:15px;" class="nav-link active" id="tab-login" data-mdb-toggle="pill" href="#pills-login" role="tab"
                    aria-controls="pills-login" aria-selected="true">Đăng nhập</a>
                </li>
                <li class="nav-item" role="presentation">
                <a style="font-size:15px;" class="nav-link" id="tab-register" data-mdb-toggle="pill" href="../layout/register.html" role="tab"
                    aria-controls="pills-register" aria-selected="false">Đăng kí</a>
                </li>
                </ul>
    <!-- Pills navs -->
    
    <!-- Pills content -->
            <div class="tab-content">
                <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
                <form>
                    <div class="text-center mb-3">
                    <p style="font-size:15px;">Đăng nhập với:</p>
                    <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class='bx bxl-facebook'></i>
                    </button>
    
                    <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class='bx bxl-google'></i>
                    </button>
                    </div>
    
                    <p class="text-center">Hoặc:</p>
    
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                    <input type="email" id="loginName" class="form-control" />
                    <label class="form-label" for="loginName">Email or username</label>
                    </div>
    
                    <!-- Password input -->
                    <div class="form-outline mb-4">
                    <input type="password" id="loginPassword" class="form-control" />
                    <label class="form-label" for="loginPassword">Password</label>
                    </div>
    
                    <!-- 2 column grid layout -->
                    <div class="row mb-4">
                    <div class="col-md-6 d-flex justify-content-center">
                        <!-- Checkbox -->
                        <div class="form-check mb-3 mb-md-0">
                        <input class="form-check-input" type="checkbox" value="" id="loginCheck" checked  style="font-size:15px;"/>
                        <label class="form-check-label" for="loginCheck" style="font-size:15px;"> Ghi nhớ </label>
                        </div>
                    </div>
    
                    <div class="col-md-6 d-flex justify-content-center">
                        <!-- Simple link -->
                        <a href="#!" style="font-size:15px;">Quên mật khẩu?</a>
                    </div>
                    </div>
    
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4" style="font-size:15px;">Đăng nhập</button>
    
                    <!-- Register buttons -->
                    <div class="text-center">
                    <p style="font-size:15px;">Chưa có tài khoản? <a href="#!" style="font-size:15px;">Đăng kí</a></p>
                    </div>
                </form>
                </div>
    
                </div>
    <!-- Pills content -->
            </div>
        </div>
        
        <footer>
            <div class="container footer-ct">
                <div class="row">
                    <div class="col-md-3">
                        <ul class="ul-style">
                            <li>
                                <a href="">Lịch sử mua hàng</a>
                            </li>
                            <li>
                                <a href="">Cộng tác bán hàng</a>
                            </li>
                            <li>
                                <a href="">Tìm hiểu về trả góp</a>
                            </li>
                            <li>
                                <a href="">Chính sách bảo hành</a>
                            </li>
                        </ul>
                    </div>
    
                    <div class="col-md-3">
                        <ul class="ul-style">
                            <li>
                                <a href="">Giới thiệu cửa hàng</a>
                            </li>
                            <li>
                                <a href="">Tuyển dụng</a>
                            </li>
                            <li>
                                <a href="">Gửi góp ý, khiếu nại</a>
                            </li>
                            <li>
                                <a href="">Đổi trả</a>
                            </li>
                        </ul>
                    </div>
    
                    <div class="col-md-3">
                        <ul class="ul-style">
                            <li>
                                <a href="">Tổng đài hỗ trợ (Miễn phí gọi)</a>
                            </li>
                            <li>
                                <a href="tel:18001234" style="color: blue;">Gọi mua: 18001234 (7:30 - 22:00)</a>
                            </li>
                            <li>
                                <a href=""style="color: blue;">Kỹ thuật: 18001234 (7:30 - 22:00)</a>
                            </li>
                            <li>
                                <a href=""style="color: blue;">Bảo hành: 18001234 (7:30 - 22:00)</a>
                            </li>
                            <li>
                                <a href=""style="color: blue;">Đổi trả: 18001234 (7:30 - 22:00)</a>
                            </li>
                        </ul>
                    </div>
    
                    <div class="col-md-3">
                        <ul class="ul-style" style="display: inline-flex;">
                            <li>
                                <a href="">
                                    <img src="../img/img-bocongthuong.jpg" width="80" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img style="margin-top: 10px;" src="../img/img-bocongthuong2.jpg" width="80" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img style="margin-top: 10px;" src="../img/img-aninhmang.png" width="80" alt=""></a>
                            </li>
                        </ul>
    
                        <div class="col">
                            <p style="font-size:14px;font-weight: 500;">Website đối tác</p>
                            <ul class="ul-style-2" style="display: inline-flex;">
                                <li>
                                    <a href="">
                                        <img src="../img/img-dienmayxanh.jpg" width="100" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="../img/img-dienmayxanh.jpg" width="100" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="../img/img-dienmayxanh.jpg" width="100" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="../img/img-dienmayxanh.jpg" width="100" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
    
                </div>
            </div>
       </footer>
       
        <div class="footer-bot">
            <p>Dev by C & T</p>
        </div>
</body>
</html>